.titleText {
	font-family: 'Titillium Web';
	font-size: 35px;
	margin-left: 50px;
}

.bandeau {
	color : white ;
	background-color: #222222;
	display: flex;
	justify-content: space-between;
	height: 90px;
	top: 0;
	z-index: 99;
	position: fixed;
	width: 100%;
}

.homeButton {
	font-family: 'Titillium Web';
	font-size: 18px;
	margin: auto;
	border: none;
	width: 120px;
	height: 90px;
	color: #aaaaaa;
	background-color: #880000;
}

.addForm {
	display: flex;
}

.addButton {
	background-color: #222222;
	border-color: #ff0000;
	color: white;
	width: 50px;
	height: 27px;
	margin-top : 30px;
}

.react-autosuggest__suggestions-container {
	background-color: #880000;
	overflow: visible;
	margin-top: -15px;
	border-radius: 2px;
}

.react-autosuggest__suggestion {
  color: #aaaaaa;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  overflow: hidden;
  text-align: left;
	margin-left: -30px;
}

.react-autosuggest__input {
	font-family: 'Titillium Web';
	font-size: 18px;
	width: 310px;
	height: 20px;
	border: none;
  border-bottom: 2px solid red;
	background-color: inherit;
	color: #aaaaaa;
}

.react-autosuggest__input::-webkit-input-placeholder {
	font-family: 'Titillium Web';
	font-size: 18px;
	color: #aaaaaa;
}

.react-autosuggest__input:focus {
	outline: none;
}

.react-autosuggest__container {
	margin-top: 30px;
}

.react-autosuggest__suggestion--highlighted {
	color: #ffffff;

}
