.titleText {
	margin: auto;
	font-family: 'Titillium Web';
	font-size: 35px;
}

.bandeau {
	color : white ;
	background-color: #222222;
	display: flex;
	height: 90px;
	flex:1 1 auto;
	overflow: auto;
	top: 0;
	z-index: 99;
	position: fixed;
	width: 100%;
	margin: auto;
}

.searchInput {
	height: 22px;
	width : 200px;
	margin: auto;
	border-radius: 4px;
}

.clearButton {
	font-family: 'Titillium Web';
	font-size: 18px;
	margin: auto;
	border: none;
	width: 120px;
	height: 90px;
	color: #aaaaaa;
	background-color: #880000;
}

.clearButton:focus {
	outline:0 !important;
	color: #ffffff;
}
