.ficheForm {
	font-family: 'Titillium Web';
	font-size: 15px;
	width: 250px;
	height: 350px;
	display: flex;
}

.addForm {
	background-color: #555555;
	margin : auto;
	border : 2px solid #222222;
	border-radius: 5px;
	padding: 20px 20px;
	height: 250px;
	box-shadow: 5px 5px 5px #000000;
}

.imageLink {
	border: 2px solid grey;
	padding: 4px;
	width: 80%;
	border-radius: 4px;
	margin : 10px;
}

.addButton {
	background-color: #258596;
	border-radius: 2px;
	border: none;
	color: white;
	padding: 4px 20px;
	margin : 10px;
}