@media screen and (max-width: 700px) {
	.window_wrapper {
		width: 90%;
		height: 80%;
	}
	.imageFocus {
		width: 70%;
		height: 70%;
	}
}

@media screen and (min-width: 900px) {
	.window_wrapper {
		width: 30%;
	}
}

.window_wrapper {

	background-color: #222222;
	position: fixed;
	top: 55%;
	left: 50%;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #000;
	transform: translate(-50%,-50%);
	color: #998855;
	font-family: 'Titillium Web';
	display: flex;
	flex-grow: 10;
	flex-direction: column;
}

.imageFocus {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.row {
	display: flex;
}

.row_cell {
	flex: 1;
	align-self: center;
}

.row_plot {
	margin: 0px 10px 0px 10px;
	font-size: 14px;
	color: #458965;
}

.footer {
	color: #889944;
	justify-content: space-around;

}
