@media screen and (max-width: 700px) {
	.window_wrapper {
		width: 90%;
		height: 80%;
	}
	.imageFocus {
		width: 70%;
		height: 70%;
	}
}

@media screen and (min-width: 900px) {
	.window_wrapper {
		width: 30%;
	}
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
	.imageFocus {
		display: none;
	}
	.window_wrapper {
		width: 99%;
		height: 70%;
	}
}

.window_wrapper {

	background-color: #222222;
	position: fixed;
	top: 55%;
	left: 50%;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #000;
	transform: translate(-50%,-50%);
	color: #998855;
	font-family: 'Titillium Web';
	display: flex;
	flex-direction: column;
}

.imageFocus {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.row {
	display: flex;
	margin-top: 5px;
}

.row_cell {
	flex: 1;
	align-self: center;
}

.content {
	font-size: 14px;
}

.row_plot {
	margin: 0px 5px 0px 0px;
	font-size: 13px;
	color: #458965;
}

.footer {
	color: #889944;
	justify-content: space-around;
}

.closeMovieFocusButton {
	position: absolute;
	top : 1%;
	right: 2%;
	border : none;
	background: rgba(250,250,250,0);
	color: #dd0044;
	font-size: 12px;
	font-family: 'Titillium Web';
}

.closeMovieFocusButton:focus {
	outline:0 !important;
	color: #ffffff;
}
