@media screen and (max-width: 800px) {
	.imageFocus {
		display: none;
	}
 .row_plot {
	 display: none;
 }
}

@media screen and (max-width: 900px) {
	.wrapper {
}



}

.wrapper {
	width: 30%;
	background-color: #222222;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 20px;
	box-shadow: 10px 10px 10px #000;
	transform: translate(-50%,-50%);
	color: #998855;
	font-family: 'Titillium Web';
	display: flex;
	flex-direction: column;
}

.imageFocus {
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

.row {
	display: flex;
}

.row_cell {
	flex: 1;
	align-self: center;
}

.row_plot {
	margin: 0px 10px 0px 10px;
	font-size: 15px;
	color: #458965;
}

.footer {
	color: #889944;
	justify-content: space-around;

}
