@media screen and (max-width: 700px) {
  .clickableFiche{
		width:148px;
		height:228px;
	}
  .noClickableFiche{
    width:148px;
    height:228px;
  }
	.poster{
		width:148px;
		height:228px;
	}
}

.clickableFiche {
	font-family: 'Titillium Web';
	font-weight: bold;
	color: #aaaaaa;
	font-size: 18px;
	position : relative;
  margin: 5px;
}

.posterNeutral {
}

.posterUnSeen {
  box-shadow: 2px 2px 5px red;
}

.posterSeen {
  box-shadow: 2px 2px 5px green;
}



.showDeleteMovie {
	position: absolute;
	top : 0.2%;
	right: 0.2%;
	border : none;
	border-radius: 5px;
	background: rgba(250,250,250,0);
	color: #ff0044;
	font-size: 20px;
  cursor: pointer;
	}

  .hasBeenSeen {
    position: absolute;
  	top : 0.2%;
  	left: 0.2%;
  }

  .showDeleteMovieHidden {
    display: none;
  }

  .hasBeenSeenHidden {
    display: none;
  }

  .noClickableFiche {
    font-family: 'Titillium Web';
  	font-weight: bold;
  	color: #aaaaaa;
  	font-size: 18px;
  	position : relative;
    margin: 5px;
    pointer-events: none;
  }

.overlayButton:focus {
	outline:0 !important;
	color: #ffffff;

}
