.App {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 7px;
  position: relative;
  top: 112px;

}

.fade-enter {
	opacity: 0.01;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 400ms ease-in;
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0.01;
	transition: opacity 500ms ease-in;
}

.connexion_wrapper {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connexion_input {
  height: 22px;
	width : 200px;
	border-radius: 4px;
}

.connexion_button {
  font-family: 'Titillium Web';
  font-size: 15px;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 30px;
  color: #aaaaaa;
  background-color: #880000;
  box-shadow: 1px 1px 1px #000;
  margin-top: 30px;
}

.connexion_title {
  font-family: 'Titillium Web';
  font-size: 50px;
  color: #dddddd;
}
